head {
  text-align: center;
}

body {
  font-family: "Hiragino Sans";
  color: #CCB032;
  background-color: #FFF8D8;
  text-align: left;
}

h6 {
  margin-top: 2cm;
  font-family: "Hiragino Sans";
  color: #CCB032;
  text-align: center;
}

h2 {
  margin-top: 4cm;
  margin-right: 4.3cm;
  font-family: "Hiragino Sans";
  color: #CCB032;
  text-align: right;
}

img {
  text-align: center;
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}



.foo img:last-child{display:none}
.foo:hover img:first-child{display:none}
.foo:hover img:last-child{display:inline-block}













 





/*img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);  For IE8 and earlier 
  cursor: pointer;
  cursor: hand;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
}



button {
    font-family: "Hiragino Sans";
    background-color: white;
    border: none;
    color: red;
    float: top;
    position: relative;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
}