head {
  text-align: center;
}

body {
  font-family: "Hiragino Sans";
  color: #CCB032;
  background-color: #FFF8D8;
  text-align: left;
}

h1 {
  text-align: right;
}

h2 {
  font-family: "Hiragino Sans";
  color: #CCB032;
  text-align: right;
}

h3 {
  text-align: right;
}

h4 {
  text-align: right;
}

h5 {
  text-align: right;
}

h6 {
  font-family: "Hiragino Sans";
  color: #CCB032;
  text-align: right;
}



img {
  text-align: center;
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  float: right; margin: 0px 15px 15px 15px;
}







ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


ul {
    position: fixed;
    top: 0;
    width: 100%;
}



button {
    font-family: "Hiragino Sans";
    background-color: white;
    border: none;
    color: red;
    float: top;
    position: relative;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
}