head {
  text-align: center;
}

body {
  font-family: "Hiragino Sans";
  color: #52A140;
  background-color: #F3FFF0;
  text-align: center;
}

h2 {
  font-family: "Hiragino Sans";
  color: #52A140;
  text-align: center;
}

img {
  text-align: center;
}